
.songs__list{
    width: 95%;
    margin: 5% auto;
    position: relative;
}
.songs__list h3{
    color: white;
    text-transform: uppercase;
    font-size: 25px;

}

.songs__list ul{

overflow-x: scroll;
padding: 30px 0;
/*white-space: nowrap;*/

}

.songs__list li   {
  list-style: none;
  width: 25%;
  margin: 0 2.5%;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  height: auto;
}
.songs__list li a  {
text-align: center;
  }
  .songs__list li p  {
    font-size: 15px;
    text-align: center;
      }
.songs__list img {
 width: 100%;
 border-radius: 20px;
    }
.titre-musique{
  text-align: center;
  font-size: 15px;
}
.Auteur{
  text-align: center;
  color: white;
  font-size: 50px;
}
.liste-chanson{
  color: white;
  font-size: 25px;
  text-align: center;
  list-style-type: none;
}
.searchform{
  position: relative;
}
#search{
  text-align: center;
  width: 400px;
  height: 75px;
  position: absolute;
  left: 500px;
  margin-top: 10px;
}
/*#result li a{
text-align: center;
}*/

    ul::-webkit-scrollbar{
        background-color: #8d86c9;
    }
   
    
      ul::-webkit-scrollbar-thumb {
        background: white; 
        border-radius: 10px;
      }
    
      ul::-webkit-scrollbar-thumb:hover {
        background: rgb(151, 151, 151); 
      }
  