
.songs__list{
    width: 95%;
    margin: 5% auto;
}
.songs__list h3{
    color: white;
    text-transform: uppercase;
    font-size: 25px;

}

.songs__list ul{
display: flex;
overflow-x: scroll;

}

.songs__list div    {
list-style: none;
width: 25%;
margin: 0 2.5%;
background-color: #242038;
}

.songs__list img {
 width: 100%;
    }
