@import url(songs.css);

header{
    width: 20%;
    height: 100vh;
    background-color: #242038;
    color : white;
    position: fixed;
    text-align: center;
    }
    
    .mainNav{
        display: flex;
        flex-direction: column;
    }

    .mainNav a{
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 25px;
        font-weight: 700;
        margin: 20px 0;
    }

    .auth{
        text-align: center;
        color: white;
        text-transform: uppercase;
    }

    main{
        margin-left: 20%;
        width: 80%; 
        background-color: #8D86C9;
        height: 200vh;
    }

    body{
        display: flex;
        margin: 0;
        padding: 0;
    }

    #lecteur {
        position : fixed;
        bottom: 0;
        width: 80%;
    }

   