header{
    width: 20%;
    height: 100vh;
    background-color: #242038;
    color : white;
    position: fixed;
    }
    
 .mainNav{
    position: fixed;
    right: 0;
    background-color: #242038;
    width : 80%;
    top : 0;
    height: 80px;
    color  : white;
    z-index: 2;
}

.mainNav a{
    text-decoration: none;
    text-transform: capitalize;
    color : white;
    
}

    main{
        margin-left: 20%;
        width: 80%; 
        background-color: #8D86C9;
        margin-top: 80px;
        height: 200vh;
    }

    body{
        display: flex;
        margin: 0;
        padding: 0;
    }

    #lecteur {
        position : fixed;
        bottom: 0;
        width: 80%;
    }*
    .menu{
        margin-left: 30px;
    }