@import url(songs.css);

header{
    width: 20%;
    height: 100vh;
    background-color: #242038;
    color : white;
    position: fixed;
    text-align: center;
    }
    
    .mainNav{
        display: flex;
        flex-direction: column;
    }

    .mainNav a{
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 25px;
        font-weight: 700;
        margin: 20px 0;
    }

    .auth{
        text-align: center;
        color: white;
        text-transform: uppercase;
    }

    main{
        margin-left: 20%;
        width: 80%; 
        background-color: #8D86C9;
        min-height: 100vh;
    
    }

    body{
      
        margin: 0;
        padding: 0;
    }

    #lecteur {
        position : fixed;
        bottom: 0;
        width: 80%;
        z-index: 99;
    
    }
    .nouvelle{
        color: white;
        font-size: 45px;
    }
    .formulaire{
        text-align: center;
        padding-top: 200px;
    }
    .titre{
        width: 377px;
        height: 50px;
        margin-bottom: 10px;
        text-align: center;
    }
    .fichier{
        color: white;
        font-size: 30px;
    }
    .miniature{
        color: white;
        font-size: 25px;
    }
    .file{
        margin-bottom: 15px;
    }
    .ajout-miniature{
        margin-bottom: 10px;
    }
    .note1{
        color: white;
        font-size: 20px;
    }
    .note{
        margin-bottom: 10px;
        text-align: center;
    }
    .submit{
        margin-top: 10px;
        background-color: #8D86C9;
        color: white;
        border: 1px solid white;
        font-size: 20px;
    }
    .submit:hover{
        background-color: white;
        color: #8D86C9;
    }
    .card{
        text-align: center;
        padding: 270px;
    }
    .card-header{
        font-size: 33px;
        color: white;
        margin-bottom: 10px;
    }
    #email1{
        color: white;
        font-size: 20px;
    }
    #email{
        width: 377px;
        height: 50px;
        margin-bottom: 10px;
        text-align: center;
    }
    #password1{
        color: white;
        font-size: 20px;
    }
    #password{
        width: 377px;
        height: 50px;
        margin-bottom: 10px;
        text-align: center;
    }
    #remember{
        color: white;
        font-size: 20px;
        margin-bottom: 10px;
    }
    #submit{
        margin-top: 10px;
        background-color: #8D86C9;
        color: white;
        border: 1px solid white;
        font-size: 20px;
    }
    #submit:hover{
        background-color: white;
        color: #8D86C9;
    }
    #Name{
        color: white;
        font-size: 20px;
        margin-bottom: 10px;
    }
    #Name2{
        width: 377px;
        height: 50px;
        margin-bottom: 10px;
        text-align: center;
    }
    #password-confirm1{
        color: white;
        font-size: 20px;
        margin-bottom: 10px;
    }

    #password-confirm{
        width: 377px;
        height: 50px;
        margin-bottom: 10px;
        text-align: center;
    }
    